<!-- https://docs.nativescript.org/angular/core-concepts/angular-navigation.html#page-router-outlet -->
<ActionBar title="swipe-layout" icon="" class="action-bar"> </ActionBar>
<GridLayout rows="*, auto" columns="*" backgroundColor="#77849F">
  <SwipeLayout
    *ngFor="let card of cards"
    row="0"
    colSpan="3"
    col="0"
    (loaded)="swipeLayoutLoaded($event)"
    (swipeDown)="swipeDownCallback($event)"
    (swipeUp)="swipeUpCallback($event)"
    [animationState]="swipeLayoutAnimated"
    [gestureMode]="gestureMode"
  >
    <CardView
      width="300"
      height="300"
      backgroundColor="white"
      margin="10"
      elevation="40"
      radius="5"
    >
      <GridLayout rows="200, auto" columns="*">
        <image
          [src]="card.img"
          stretch="aspectFill"
          colSpan="3"
          row="0"
        ></image>
        <label
          [text]="card.test"
          class="info"
          textWrap="true"
          row="1"
          colSpan="3"
          class="p-20"
        ></label>
      </GridLayout>
    </CardView>
  </SwipeLayout>
  <GridLayout row="1" rows="*" columns="auto, auto, auto">
    <Button
      (tap)="comeHere()"
      row="0"
      col="0"
      class="p-20"
      class="btn btn-primary p-20"
      text="LIKE"
    >
    </Button>
    <Button
      text="SUPER"
      (tap)="super()"
      row="0"
      col="1"
      class="btn p-20"
      backgroundColor="#5BD6BB"
      color="white"
    ></Button>
    <Button
      text="DECLINE"
      (tap)="goAway()"
      row="0"
      col="2"
      class="btn p-20"
      backgroundColor="#B33A3A"
      color="white"
    ></Button>
  </GridLayout>
</GridLayout>
