<!-- https://docs.nativescript.org/angular/core-concepts/angular-navigation.html#page-router-outlet -->
<ActionBar title="swipe-card" icon="" class="action-bar">
</ActionBar>
<GridLayout rows="*" columns="*" backgroundColor="green">
    <SwipeCard height="500" (loaded)="tabLoaded($event)" (swipeLeft)="swipeLeft($event)" (swipeRight)="swipeRight($event)" (swipeDown)="swipeDown($event)"
        (swipeUp)="swipeUp($event)">
        <CardView class="cardStyle" margin="10" elevation="40" radius="5">
            <GridLayout rows="200, auto, auto" columns="auto, auto, *">
                <image src="https://img.youtube.com/vi/GGhKPm18E48/mqdefault.jpg" stretch="aspectFill" colSpan="3" row="0"></image>
                <label text="Batman wants to be friends?" class="info" textWrap="true" row="1" colSpan="3" class="p-20"></label>
                <Button text="ACCEPT" (tap)="comeHere()" row="2" col="0"></Button>
                <Button text="DECLINE" (tap)="goAway()" row="2" col="1"></Button>
            </GridLayout>
        </CardView>
    </SwipeCard>
</GridLayout>